<!-- <input type="checkbox" name="isDone"  [(ngModel)]="task.isDone"> -->
<div class="row task-block">
   <div class="col-md-11" *ngIf="!isEdit">
    <a (click)="updateTaskStatus($event, task)">
        <div class="">
            <span [ngClass]="{crossedout:task.isDone}">{{ task.description }}</span>
        </div>
    </a>
   </div>
   <div class="col-md-11" *ngIf="isEdit">
        <input class="form-control mt-1" [(ngModel)] = "task.description">
   </div>
    <div class="col-md-1">
        <a (click)="initEdit($event)">
            <i class="bi bi-pencil" *ngIf="!isEdit"></i>
            <i class="bi bi-check2-circle" *ngIf="isEdit"></i>
        </a>
    </div>
</div>
